<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>生日烟火.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8577B8521E5FDCD000E64BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8577B86B1E5FDCD100E64BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8577B8761E5FDCD200E64BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
